<%- include("partials/header") -%>
<div class="container">
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="">Title</label>
        <input type="text" name="postTitle">
        <label for="">Post</label>
        <textarea name="postText" rows="8" cols="50"></textarea>
        <button type="submit">Publish</button>
</form>
</div>
<%- include("partials/footer") -%> 