<%- include("partials/header") -%>
<div class="container">
    <p class="postsTitle fixMargin"><%= postTitle %> </p>
    <p class="posts"><%= postText %> </p> 
</div>
<%- include("partials/footer") -%> 